#contPrincipal{
  width: 700px !important;
}

#tabla_datos{
  border: 2px solid #35858B;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead th{
  background-color: #35858B;
  color: white;
}

th, td{
  padding: 7px;
}

tbody tr:nth-child(odd){
  background-color: #a8a8a8;
}

tr:hover{
  background-color: #4fbdba!important;
  color: white;
}